* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    line-height: 1.6;
    padding: 0 5vw; 
    max-width: 1200px;
    margin: 0 auto; 
    box-sizing: border-box;
  }
